{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
   
    <div class="container-fluid">

      <!-- Page Heading -->
       <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>
         <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
       <div class="row">
        
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Pedidos pendientes + 30 dìas</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$ {{ tot.card1 }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
   
         <!-- Earnings (Monthly) Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-success shadow h-100 py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Cant Pendientes pendientes</div>
                   <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ tot.card2 }}  </div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <!-- Earnings (Monthly) Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-info shadow h-100 py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Cantidad Tubos en alquiler</div>
                   <div class="row no-gutters align-items-center">
                     <div class="col-auto">
                       <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{  tot.card3 }} / {{ tot.card4 }}</div>
                     </div>
                     <div class="col">
                       <div class="progress progress-sm mr-2">
                         <div class="progress-bar bg-info" role="progressbar" style="width:40%"  aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>
       
   
           <!-- Pending Requests Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-warning shadow h-100 py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Tubos alquilados</div>
                   <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tot.card3 }}</div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-comments fa-2x text-gray-300"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>


  <!--  TABLA FACTURAS-->
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Listado de pedidos pendientes</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="row">
      </div>
      <hr>
  
    
    {% if not enc %}
    <div class="alert alert-info">No Hay Facturas</div>
    {% endif %}
 
    <table 
      id="table"
      data-toggle="table"
      data-pagination="true"
      data-search="true"
      data-show-columns="true"
      data-show-toggle="true"
      data-show-fullscreen="true"
      data-toolbar=".buttons-toolbar"
      data-locale="es-NI"
    >
    <thead>
      <th data-sortable="true" data-field="id">No.</th>        
      <th data-sortable="true" data-field="fecha">Fecha</th>
      <th data-sortable="true" data-field="nombres">Cliente</th>
      <th data-sortable="true" data-field="apellidos">Total</th>
      <th data-field="estado">Estado</th>
      <th data-field="estado_factura">Estado</th>
      <th class="all">Acciones</th>
    </thead>
    <tbody>
      {% for item in enc %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.fecha }}</td>
        <td>{{ item.cliente }}</td>
        <td>{{ item.total }}</td>
        <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
        <td>{{item.estado_factura}}</td>
        <td>
          <a href="{% url 'fac:factura_edit' item.id %}" class="href btn btn-warning btn-circle">
              <i class="far fa-edit"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>


    </table>
  </div>

{% endblock %}

{% block js_page %}

<script>

  
</script>
{% endblock %}
