alabaster==0.7.13
arabic-reshaper==3.0.0
asgiref==3.6.0
asn1crypto==1.5.1
astroid==2.3.3
attrs==22.2.0
Babel==2.11.0
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.2
braceexpand==0.1.7
Brotli==1.0.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
cryptography==38.0.4
cssselect2==0.7.0
dj-database-url==0.5.0
Django==4.1.7
django-afip==11.1.0
django-renderpdf==3.0.1
django-sb-admin==5.5.1.1
django-userforeignkey==0.3.0
djangorestframework==3.10.2
docutils==0.18.1
fonttools==4.38.0
gunicorn==20.0.4
html5lib==1.1
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
isodate==0.6.1
isort==4.3.21
Jinja2==3.1.2
lazy-object-proxy==1.4.3
lxml==4.9.2
MarkupSafe==2.1.2
mccabe==0.6.1
natsort==8.2.0
numpy==1.24.2
oscrypto==1.3.0
packaging==23.0
panda==0.3.1
pandas==1.5.3
Pillow==9.4.0
platformdirs==3.0.0
psycopg2==2.8.4
pycparser==2.21
pydyf==0.5.0
Pygments==2.14.0
pyHanko==0.17.0
pyhanko-certvalidator==0.20.1
pylint==2.4.4
pyOpenSSL==23.0.0
pypdf==3.4.1
PyPDF2==1.26.0
pyphen==0.13.2
pypng==0.20220715.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.3
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qrcode==7.4.2
render-pdf==0.2.2
reportlab==3.6.12
requests==2.28.2
requests-file==1.5.1
requests-toolbelt==0.10.1
setuptools-git==1.2
six==1.12.0
snowballstemmer==2.2.0
soupsieve==2.4
sphinx==6.1.3
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.3.0
svglib==1.5.1
termcolor==2.2.0
tinycss2==1.2.1
typing-extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
uritools==4.0.1
urllib3==1.26.14
weasyprint==58.0
webencodings==0.5.1
whitenoise==5.1.0
wrapt==1.11.1
xhtml2pdf==0.2.9
zeep==4.2.1
zipp==3.14.0

