{% extends 'base/base.html'%}
{% block page_content %}
<form method="post" id="frmAlquiler">
    {% csrf_token %}
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="content">
                <!-- Sección Superior -->
                <div class="row ">
                    <div class="col">
                        <div class="col-lg-8">N° Pedido:</div>
                        <div class="col-lg-8">
                            <input type="text" name="idpedido" id="idpedido" class="form-control" value="{{ alq.idpedido }}"> 
                        </div>
                    </div>

                    <div class="col">
                        <div class="col-lg-12">Cliente:</div>
                        <div class="col-lg-12">
                            <select name="enc_cliente" id="enc_cliente" class="form-control">
                                <option value="0">Seleccione un cliente:</option>
                                {% for item in cli %}
                                    <option value="{{item.id}}" selected disabled>{{ item.nombres }} {{item.apellidos}} </option>
                                {% endfor %}
                            </select> 
                        </div>
                    </div>

                    <div class="col">
                        <div class="col-lg-12">Fecha Alquiler:</div>
                        <div class="col-lg-12">
                            <script type="text/javascript">
                                function validar(obj) {
                                  patron = /^\d{4}-\d{2}-\d{2}$/
                                  if (patron.test(obj.value)==false)
                                    {
                                    alert("Forma de fecha incorrecta. yyyy-mm-dd")
                                    fecha_entrega.value = ""
                                    fecha_entrega.focus
                                    }
                                    }
                            </script>
                            <input type="text"  onblur="validar(this)" name="fecha" id="fecha" class="form-control" readonly
                            value="{{ alq.fecha|date:'Y-m-d' }}"/>
                        </div>
                    </div>

                    <div class="col">
                        <div class="col-lg-12">Fecha Entrega comprometida:</div>
                        <div class="col-lg-12">
                            <script type="text/javascript">
                                function validar(obj) {
                                  patron = /^\d{4}-\d{2}-\d{2}$/
                                  if (patron.test(obj.value)==false)
                                    {
                                    alert("Forma de fecha incorrecta. yyyy-mm-dd")
                                    fecha_entrega.value = ""
                                    fecha_entrega.focus
                                    }
                                    }
                            </script>
                            <input type="text"  onblur="validar(this)" name="fecha_entrega" id="fecha_entrega" class="form-control" readonly
                            value="{{ enc.fecha_entrega|date:'Y-m-d' }}"/>
                        </div>
                    </div>
                </div> <!-- Fin ROW 1-->
                 <hr>
                          
                <div class="row">
                        <div class="col">
                            <div class="col-lg-8">Codigo:</div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control text-left" value="{{ alq.codigo }}" 
                                    name="codigo" id="codigo">
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-lg-8">Descripcion:</div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control text-left" value="{{ alq.descripcion }}" disabled
                                    name="descripcn" id="descripcion">
                            </div>
                        </div>

                        <div class="col">
                            <div class="col-lg-8">Codigo Barras:</div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control text-left" value="{{ alq.codigo_barra }}" disabled
                                    name="codigo_barra" id="codigo_barra">
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-lg-0">Fecha Venc:</div>
                            <div class="col-lg-8">
                                <script type="text/javascript">
                                    function validar(obj) {
                                        patron = /^\d{4}-\d{2}-\d{2}$/
                                        if (patron.test(obj.value)==false)
                                        {
                                        alert("Forma de fecha incorrecta. yyyy-mm-dd")
                                        fecha_entrega.value = ""
                                        fecha_entrega.focus
                                        }
                                        }
                                </script>
                                <input type="text"  onblur="validar(this)" name="fecha_venc" id="fecha_venc" class="form-control" readonly
                                value="{{ alq.fecha_venc|date:'Y-m-d' }}"/>
                            </div>
                        </div>
                </div>
                <!--FIN  Sección Superior -->        
                <hr>

                <div class="col">
                    <div class="col-lg-2">Fecha Entrega Real:</div>
                    <div class="col-lg-2">
                        <script type="text/javascript">
                            function validar(obj) {
                              patron = /^\d{4}-\d{2}-\d{2}$/
                              if (patron.test(obj.value)==false)
                                {
                                alert("Forma de fecha incorrecta. yyyy-mm-dd")
                                fecha_entrega.value = ""
                                fecha_entrega.focus
                                }
                                }
                        </script>
                        <input type="text"  onblur="validar(this)" name="fecha_entrega" id="fecha_entrega" class="form-control" 
                        value="{{ enc.fecha_entrega|date:'Y-m-d' }}"/>
                    </div>

                    <div class="col-lg-2">Fecha Retiro Real:</div>
                    <div class="col-lg-2">
                        <script type="text/javascript">
                            function validar(obj) {
                              patron = /^\d{4}-\d{2}-\d{2}$/
                              if (patron.test(obj.value)==false)
                                {
                                alert("Forma de fecha incorrecta. yyyy-mm-dd")
                                fecha_entrega.value = ""
                                fecha_entrega.focus
                                }
                                }
                        </script>
                        {% if alq.fecha_retiro %}
                            <input type="text" class="form-control text-left" value="{{ alq.fecha_retiro|date:'Y-m-d' }}"  name="id_fecha_retiro" id="id_fecha_retiro">
                        {% else %}
                            <input type="text" class="form-control text-left" value=""  name="fecha_retiro" id="fecha_retiro">
                        {% endif %}
                    </div>

                </div>

                <!-- Botones -->
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                        <a href="{% url 'fac:alquileres_list' %}" class="btn btn-success"><i class="far fa-hand-point-left"></i> Cancelar</a>
                    </div>
                </div>
                <!-- Fin Botones -->
                <!-- Inicio Detalle -->
                
          
                <table class="table table-striped table-hover dt-responsive nowrap" style="width:100%">
                    <thead>
                        <th data-sortable="true" data-field="id">Id</th> 
                        <th data-sortable="true" data-field="id">Fecha</th> 
                        <th data-sortable="true" data-field="codigo">Pedido</th>
                        <th data-sortable="true" data-field="codigo">Cliente</th>
                        <th data-sortable="true" data-field="codigo">Fecha entrega</th>
                        <th data-sortable="true" data-field="codigo">Fecha retiro</th>
                        <th data-sortable="true" data-field="codigo_barra">código</th>
                        <th data-field="descripcion">Descripción</th>
                        <th data-field="descripcion">Código de Barras</th>
                        <th data-field="existencia">fecha_venc</th>
                      
                       
                      </thead>
                      <tbody>
                        {% for item_alq in alq_todos %}
                        <tr>
                          <td>{{ item_alq.id }}</td>
                          <td>{{ item_alq.fecha }}</td>
                          <td>{{ item_alq.idpedido }}</td>
                          <td>{{ item_alq.cliente }}</td>
                          <td>{{ item_alq.fecha_entrega }}</td>
                          <td>{{ item_alq.fecha_retiro }}</td>
                          <td>{{ item_alq.codigo }}</td>
                          <td>{{item_alq.descripcion}}</td>
                          <td>{{item_alq.codigo_barra}}</td>
                          <td>{{item_alq.fecha_venc}}</td>
                          
                        </tr>
                        {% endfor %}
                      </tbody>
                     
                </table>
            
                <!-- Fin Detalle -->




             
            </div>  <!--FIN <class="content">-->
        </div>
     </div>
</form>
{% endblock %}
{% block js_page %}


<script>

    $("frmAlquiler").submit(function(e){
        var cliente = +$("#cliente").val();
        var idpedido = +$("#idpedido").val();

        alert("frmAlquiler - ")
        
        if(idpedido<1){
            mensaje("No hay pedidos");
            return false;
        }
   })
    
   $(function () {

        $("#id_fecha_entrega, #id_fecha_entrega").datetimepicker({
            format: 'Y-m-d',
            timepicker:false
        });

        $("#id_fecha_retiro, #id_fecha_retiro").datetimepicker({
            format: 'Y-m-d',
            timepicker:false
        });

        $("#enc_cliente").val({{ alq.cli.id }}).change();

        $('#enc_cliente').select2({
            placeholder: "Seleccione Cliente",
            allowClear: true
        });

        $("#enc_cliente").data('select2').trigger('select', {
            data: {"id":alq.cli.id  }
        });


        $("#idpedido").keypress(function(e){
        if(e.keyCode==13){
            e.preventDefault();
            buscarpedido();
            }
        });

        $("#codigo").keypress(function(e){
        if(e.keyCode==13){
            e.preventDefault();
            buscartubo();
            }
        });

    });


    function buscarpedido()
    {
        if ($("#idpedido").val()=="0" || $("#idpedido").val()==null){
            mensaje("Pedido No Seleccionado",'red');
            return false;
        }
        var codigo = "0"
        var codigo = $("#idpedido").val();
        if(codigo=="" || codigo=="0" || codigo=="undefined"){
            return false;
        }

        var path = "{% url 'api:pedido_list' %}" + codigo; 
        alert(path);
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                
                if(r.id<=0 || !r.estado){
                    mensaje("No se encontró el pedido",'orange')
                    $("#idpedido").val("");
                    $("#cliente").val("");
                    return false;
                }
   
                $("#cliente").val(r.cliente);
                $("#enc_cliente").val(r.cliente);
                $("#fecha_entrega").val(r.fecha_entrega);
                $("#fecha").val(r.fecha);
                
            },
            error: function(a,b,c){
                console.log(a);
                if(a.status==404){
                    mensaje("Pedido " + codigo + "- No Encontrado o No Existe",'red');
                    $("#idpedido").val("");
                    $("#cliente").val("");
                  
                }

            }

        });

    };

    function buscartubo()
    {
        if ($("#codigo").val()=="0" || $("#codigo").val()==null){
            mensaje("Tubo No Seleccionado",'red');
            return false;
        }
        var codigo = ""
        var codigo = $("#codigo").val();
        if(codigo=="" || codigo=="0" || codigo=="undefined"){
            return false;
        }

        var path = "{% url 'api:tubos_list' %}" + codigo; 
        
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                
                if(r.id<=0 || !r.estado){
                    mensaje("No se encontró el tubo",'orange')
                    $("#codigo").val("");
                    $("#descripcion").val("");
                    $("#codigo_barra").val("");
                    $("#fecha_venc").val("");
                    return false;
                }
   
                $("#codigo").val(r.codigo);
                $("#descripcion").val(r.descripcion);
                $("#codigo_barra").val(r.codigo_barra);
                $("#fecha_venc").val(r.fecha_venc);
                
            },
            error: function(a,b,c){
                console.log(a);
                if(a.status==404){
                    mensaje("Tubo " + codigo + "- No Encontrado o No Existe",'red');
                    $("#codigo").val("");
                    $("#descripcion").val("");
                    $("#codigo_barra").val("");
                    $("#fecha_venc").val("");
                  
                }

            }

        });

    };
 
       
</script>

{% endblock %}